<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <!-- TODO -->
    <!-- import jquery.dataTables.min.css, bootstrap.min.js,  -->
    <!-- jquery.min.js, jquery.dataTables.min.js -->
  </head>
  <body>
    <div class="container mt-3">
      <!-- TODO: create a table of the projects and students, gotten from the server -->
    </div>
  </body>
  <!-- TODO: Write a script that creates a datatable from the projects table -->
  <!-- that will be inserted in the body above -->
  <script>
    $("#projects-table").DataTable();
  </script>
</html>
